**/__pycache__/
logs/
api_keys.txt
config.yaml
sratch.py
.llmapi.bin
wandb/*
temp.md
sanity_check_phi.py
say_hello.py
visualization/*
prod_data/*
*.yaml
datasets/coach_metrics.json
datasets/coach_prompt.json
datasets/coach.json
logs_coach/*
coach_prompt_og.md
coach_prompt_opt.md
